{
    "m_key": "API key used to log to my server",
    "pizze": "website that loads pizzas as json",
    "ingredienti": "website that loads ingredienti as json",
    "aggiunte": "website that loads aggiunte as json",
    "insalate": "website that loads insalate as json",
    "menu-settimanale": "website that loads the weekly menu",
    "dbUserName": "the db username",
    "dbPassword": "the db pass",
    "restaurantName": "the name of the restaurant in the db",
    "languageSite": "use languageSite if you want to get the language from a php page | use dbData and ipOfServer if you want to get it from a database",
    "defaultLanguage": "the default language that will be returned in case the website is not reachable",
    "dbData2BeUploaded": "@depracated it is the db that will contain the pizza data"
}
