{
    "m_key": "API key used to log to my server",
    "pizze": "site that load pizzas as json",
    "ingredienti": "site that load ingredienti as json",
    "aggiunte": "site that load aggiunte as json",
    "insalate": "site that load insalate as json",
    "dbUserName": "the db username",
    "dbPassword": "the db pass",
    "dbData": "database that contains the current language",
    "dbData2BeUploaded": "@depracated it is the db that will contain the pizza data"
}
